(setq mew-from-list
      '("User <user@example.com>"
        "User <user@example.jp>"
        "User <user@example.net>"))
(setopt mew-oauth2-client-id "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com")
(setopt mew-oauth2-client-secret "xxxxxxxxxxxxxxxxxxxxxxxx")
(setopt mew-oauth2-redirect-url "http://localhost:8080")
(setopt mew-oauth2-redirect-port 8080)
(setopt mew-auth-oauth2-client-id mew-oauth2-client-id)
(setopt mew-auth-oauth2-client-secret mew-oauth2-client-secret)
(setopt mew-auth-oauth2-redirect-url mew-oauth2-redirect-url)
(setopt mew-auth-oauth2-redirect-port mew-oauth2-redirect-port)
(setq plstore-cache-passphrase-for-symmetric-encryption t)
(setq epa-file-cache-passphrase-for-symmetric-encryption t)
(setq epa-pinentry-mode 'loopback)
(setq mew-config-alist
      '((Exchange
         (name             "User")
         (user             "user")
         (mail-domain      "example.com")
         (smtp-server      "smtp.office365.com")
         (smtp-auth         t)
         (smtp-ssl          t)
         (smtp-port        587)         ; use for TLS
         (smtp-ssl-port    587)
         (smtp-user        "user@example.com")
         (imap-user        "user@example.com")
         (imap-server      "outlook.office365.com")
         (imap-trash-folder "%Deleted Items")
         (imap-spam-folder "%Junk Email")
         (imap-ssl         t)
         (imap-ssl-port    993)
         (imap-delete      nil)
         (imap-size        0)
         (imap-header-only t))
        (Gmail
         ("oauth2-client-id"  "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com")
         ("oauth2-client-secret"  "xxxxxxxxxxxxxxxxxxxxxxxx")
         ("oauth2-auth-url"  "https://accounts.google.com/o/oauth2/auth")
         ("oauth2-token-url"  "https://accounts.google.com/o/oauth2/token")
         ("oauth2-resource-url"  "https://mail.google.com/")
         ("oauth2-redirect-url"  "http://localhost:8080")
         ("oauth2-redirect-port"  8080)
         ("imap-auth-list"  ("XOAUTH2"))
         ("smtp-auth-list"  ("XOAUTH2"))
         (name             "User")
         (user             "user")
         (mail-domain      "example.jp")
         (smtp-server      "smtp.gmail.com")
         (smtp-auth         t)
         (smtp-ssl          t)
         (smtp-ssl-port    587)
         (smtp-user        "user@example.jp")
         (imap-user        "user@example.net")
         (imap-server      "imap.gmail.com")
         (imap-trash-folder "%[Gmail]/ゴミ箱")
         (imap-spam-folder "%[Gmail]/迷惑メール")
         (imap-ssl         t)
         (imap-ssl-port    993)
         (imap-delete      nil)
         (imap-size        0)
         (imap-header-only t))
        (default
          (proto            "%")
          (name             "User")
          (user             "user")
          (mail-domain      "example.net")
          (smtp-server      "smtp.example.net")
          (smtp-auth         t)
          (smtp-ssl          nil)
          (smtp-port        587)         ; use for TLS
          (smtp-user        "user@example.net")
          (imap-user        "user@example.net")
          (imap-server      "imap.example.net")
          ;; (imap-trash-folder "%Deleted Items")
          ;; (imap-spam-folder "%Junk Email")
          (imap-ssl         nil)
          (imap-port        143)
          ;; (imap-ssl-port         993)
          (imap-delete      nil)
          (imap-size        0)
          (imap-header-only t))))

;; Local Variables:
;; mode: emacs-lisp
;; coding: utf-8-unix
;; End:
