*.elc
auto-save-list
anything-c-adaptive-history
twittering-tinyurl-api-key.el
redmine-config.el
ac-comphist.dat
bookmarks
url
tramp
.edbi-ds-history
el-get/*
.session
elpa
tutorial
.DS_Store
srecode-map.el
semanticdb/*
.mc-lists.el
eshell
games
pandoc-mode
server
/secret.d/*
!/secret.d/.gitkeep
/haskell-ide-engine
/migemo-pattern
/recentf
/transient
/.lsp-session-v1
/lsp-cache
/network-security.data
