*.elc
auto-save-list
anything-c-adaptive-history
twittering-tinyurl-api-key.el
redmine-config.el
ac-comphist.dat
bookmarks
url
tramp
.edbi-ds-history
el-get/*
!el-get/.gitkeep
.session
elpa
tutorial
.DS_Store
srecode-map.el
semanticdb/*
.mc-lists.el
eshell
games
pandoc-mode
server
/secret.d/*
!/secret.d/.gitkeep
/haskell-ide-engine
/migemo-pattern
/recentf
/transient
/.lsp-session-v1
/lsp-cache
/network-security.data
/.cache/*
/.dap-breakpoints
/.lsp-eslint-choices
/eclipse.jdt.ls
/request
/workspace
/bin/vendor
/bin/node_modules
/eln-cache
/forge-database.sqlite
/history
/tree-sitter
!/tree-sitter/README.md
/lib
/lib64
/bin/bundle/
/node_modules/
/yarn.lock
/undo-tree
!/undo-tree/.gitkeep